@import '../../../styles/settings.scss';

.cartProductName {
    font-family: $font-productName;
    margin-bottom: 20px;
}

.info {
  color: $color-warning;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;

  &.success {
    color: $color-success;
  }
}

.mainImage {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
  }

  .buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .button {
    background-color: $color-card !important;
    border-color: $color-card !important;
    font-weight: 400 !important;
    margin: 10px;
    letter-spacing: .04rem !important;
    border-radius: 0.15rem !important;
    transition: transform 0.3s, background-color 0.2s !important;

    &:hover {
      background-color: darken($color-button, 5%) !important;
      transform: scale(1.1) !important;

      .icon {
        color: $color-card !important;
      }
    }

    &.trashButton {
      &:hover{
        background-color: darken($color-warning, 5%) !important;
        transform: scale(1.1) !important;
      }
        color: $color-button;
        border-color: $color-button;
    }
}
  
.icon {
  font-size: 1.5rem;

  &.checkIcon {
    color: $color-success;
  }
  
  &.saveIcon {
    color: $color-button;
  }
  
  &.trashIcon {
    color: $color-warning;
  }
}


@media (max-width: 767px) { 
  .cartProductHeader {
    text-align: center;
  }

  .buttonsContainer {
    flex-direction: row;
  }
}
  