@import "../../../styles/settings.scss";

.card {
    transition: transform 0.3s !important;

    &:hover {
        transform: scale(1.02) !important;
    }
}
.title {
    font-family: $font-productName;
}

.text {        
    display: flex;
    justify-content: space-between;
    align-items: center;

}

span {
    &:nth-child(1) {
        display: block;
        text-wrap: wrap;
    }

    & strong{
        color: $color-warning;
        text-wrap: nowrap;
    }
}

.image {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
