@import "../../../styles/settings.scss";

.header {
   font-weight: 600;
}

.listGroup{
    max-height: 300px !important;
}

.cartFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 !important;
}

.image {
    max-height: 250px;
    object-fit: contain;
}

.productName {
    font-family: $font-productName !important;
}

.price {
    color: $color-warning;
    text-wrap: nowrap;
}