.navbar-transparent {
    background-color: transparent !important;
  }

.navbarBrand { 
    font-style: italic;
    font-weight: 900;
    font-size: 30px !important;
}

.navbarCollapse {
    font-weight: 700;
    text-align: right !important;
    flex-grow: 0 !important;
}