//brittish palette
$color-text: #141414;
$color-text-warning: #c23616;
$color-background: #f5f6fa;
$color-card: #fff;
$color-button: #273c75;

$font-text: 'Source Sans Pro', sans-serif;
$font-productName: 'Righteous', cursive;